
<section class="content-header">
    <h1>Map Point </h1>
    <small>Map Point used to styling map icons</small>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a ui-sref="app.level_list"><i class="fa fa-css3"></i> Map Point</a></li>
        <li class="active">Create Map Point</li>
    </ol>
</section>


<section class="content">
    <form ng-submit="vm.submit()">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Create Map Point Form</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                            class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                <div ng-class="(vm.errors.title[0])? 'form-group has-error': 'form-group' ">
                    <label for="title">Title :</label>
                    <input type="text" ng-model="vm.title" class="form-control" placeholder="Title..." id="title">
                    <span class="help-block" ng-if="vm.errors.title[0]" ng-repeat="error in vm.errors.title">
                        {{ error }}
                    </span>
                </div>


                <div ng-class="(vm.errors.description[0])? 'form-group has-error': 'form-group' ">
                    <label for="description">Description :</label>
                    <textarea class="form-control" id="description" rows="3" ng-model="vm.description"></textarea>
                    <span class="help-block" ng-if="vm.errors.description[0]" ng-repeat="error in vm.errors.description">
                        {{ error }}
                    </span>
                </div>
            </div>
            <div class="box-footer">
                <a ui-sref="app.css_class_list" class="btn btn-danger"><i class="fa fa-angle-double-left"></i> Back</a>
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New
                </button>
            </div>
        </div>
    </form>
</section>